* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  
}

body {
  /* max-width: 550px; */
  /* height: 868px; */
  background-color: #23252C;
  color:#DCDCDC;
  
}

.link {
  text-decoration: none;
  color:#ffffff;
}

.link2 {
  text-decoration: none;
  color: #333333;
}

.app-container {
  border-radius: 1em;
  margin: auto;
  max-width: 400px;
  height: auto;
  background-color: #1A1B21;
}

.info--container {
  text-align: center;
  line-height: 5px;
}

.info--photo { 
  width: 400px;
  height: auto;
  border-radius: 1em;
}

.info--name{
  margin: 30px;
  padding-top: 10px;
  font-weight: 700;
  font-size: 1.8em;
}

.info--position {
  font-weight: 400;
  font-size: 1.2em;
  color:#F3BF99;   
}

.info--site {
  font-size: 0.8em;
}

.info--buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.info--img--email {
  padding-right: 8px;    
}

.info--email {
  margin: 9px;
  padding: 8px 30px;
  display: flex;
  font-weight: 800;
  background-color: #ffffff;
  color:#333333;
  border: 0px;
  border-radius: 6px;
  font-size: 1em;
  width: 130px;
  height: 34px;
}


.info--linkedin {
  margin: 9px;
  padding: 8px 20px;
  display: flex;
  font-weight: 800;
  background-color: #5093E2;
  border: 0px;
  border-radius: 6px;
  font-size: 1em;
  color:#ffffff;
  width: 130px;
  height: 34px;

}

.info--img--linkedin {
  padding-right: 8px;
}

.about{
  max-width: 300px; 
  margin: 30px 34px 24px 36px;  

}

.about--title {
  font-weight: 700;
  font-size: 1.2em;
}

.about--content {
  font-weight: 500;
  font-size: 0.9em;
}

.about--content > img {
  width: 15px;
}

.interests {
  max-width: 300px;
  margin: 20px 34px 24px 36px; 
 
}

.interests--title {
  font-weight: 700;
  font-size: 1.2em;
}

.interests--content {
  font-weight: 500;
  font-size: 0.9em;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 1em;
  background-color: #161619;
  height: 64px;
  margin-top: 24px;
  padding: 20px 60px;
  text-align: center;
}

.footer > img {
  padding-right: 20px;
}
